<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .todo__form {
            text-align: center;
        }

        input.form__input {
            height: 50px;
            margin-right: 10px;
        }

        button.form__button {
            height: 55px;
        }

        small.tag {
            border-radius: 10px;
            border: 1px solid blue;
            height: 20px;
            margin-left: 10px;
        }

        small.tag:hover {
            background-color: blue;
            color: white;
            cursor: pointer;
        }

        .todo__item {
            padding: 10px;
            font-size: large;
            display: flex;
            flex-direction: row;
        }

        .todo__item:hover {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            background-color: beige;
        }

        .todo__item__menu {
            margin-left: 30px;
            cursor: pointer;
        }

        .todo__item div {
            margin-right: 10px;
        }
        .todo__result {
            margin-top: 30px;
        }

        ul li {
            list-style: none;
        }
        .add__tag__button {
            margin-top: 5px;
            border: 1px solid blue;
            width: 75px;
            cursor: pointer; 
            color: blue; 
            text-align: center;
            display: block;
            border-radius: 5px;
        }

        .tag {
            margin: 10px;
        }

        .clear_filter {
            text-align: right;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <hr/>

        <div class="todo__form">
            <form @submit.prevent="submitTask">
                <input class="form__input" type="date" v-model="task.date">
                <input class="form__input" type="time" v-model="task.time">
                <input class="form__input" type="text" v-model="task.title">
                <button class="form__button" :disabled="!task.title || !task.date">Add</button>
            </form>
        </div>

        <div class="todo__result">
            <p class="clear_filter" v-if="clearFilter" @click="reloadTasks">Clear Filter</p>
            <ul>
                <li v-for="x in Object.keys(taskGroup)">
                    <todos 
                        :_date=x :data=taskGroup[x] 
                        :user_tags="userTags" 
                        @filter_by_tag="(tagId) => displayAllByTag(tagId)"
                        @task_update="reloadTasks">
                    </todos>
                </li>
            </ul>
        </div>

        <hr/>
        <footer style="text-align: right; color: gray;">
            <small>@ all right reserved!</small>
        </footer>
    </div>

    <template id="group_todo">
        <p style="font-size: large; text-decoration: underline">{{ date }}</p>
        <div class="todo__item" 
            v-for="(todo, index) in data" :key="index" 
            @mouseover="() => hoverMenu[index] = true"
            @mouseleave="() => hoverMenu[index] = false">
            <div>
                <input type="checkbox">
            </div>
            <div>
                
            </div>
            <div style="display: flex; flex-direction: column">
                
                <div>
                    <span>{{ todo.title }}</span>
                    <small class="tag" v-for="t in todo.tags" @click="filterByTag(t.tagId)">#{{ userTags.filter(uT => uT.id === t.tagId).map(fuT => fuT.name)[0] }}</small>
                    <small v-if="todo.time">scheduled at : {{ todo.time }}</small>
                    <i class="todo__item__menu fa-solid fa-tag fa-lg" v-if="hoverMenu[index]"></i>
                </div>
                
                <div style="margin-top: 10px;" v-if="tagControl[index]">
                    <select v-model="selectedTag">
                        <option value="" disabled>--Select Tag--</option>
                        <optgroup label="New">
                            <option value='NEW'>Create New</option>
                        </optgroup>
                        <optgroup label="Availble">
                            <option :value="userTag.id" v-for="userTag in userTags">{{ userTag.name }}</option>
                        </optgroup>
                    </select>
                    <template v-if="newTag" >
                        <input style="margin-left: 10px;" type="text" placeholder="Add New Tag" v-model="newTagValue">
                        <button style="margin-left: 5px;" :disabled="!newTagValue">Ok</button>
                    </template>
                </div>
                <div>
                    <span class="add__tag__button" @click="handleTagController(index, todo.taskId)" @click="() => console.log('CLICKED')">{{tagControl[index] ? '#save' : '#tag'}}</span>
                </div>
                
            </div>
        </div>
    </template>
    
    <script src="https://kit.fontawesome.com/6f6c4baace.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, toRef, onMounted , watch} = Vue
        const userId = 1;
        const apiHost = "http://localhost:8080"

        //reusable component
        const todos = {
            template: '#group_todo',
            props: ['data','_date', 'user_tags'],
            emits: ['filter_by_tag', 'task_update'],
            setup(props, { emit }) {
                const tagControl = ref({})
                const hoverMenu = ref({})
                const date = toRef(props, '_date')
                const data = toRef(props, 'data')
                const userTags = toRef(props, 'user_tags')
                const selectedTag = ref('')
                const newTag = ref(false)
                const newTagValue = ref('')
                
                const handleTagController = (index, taskId) => {
                    tagControl.value[index] = !tagControl.value[index];
                    if (!tagControl.value[index] && selectedTag.value && selectedTag.value !== 'NEW') {
                        const task = {
                            tags : [
                                { tagId : selectedTag.value }
                            ]
                        }
                        patchTask(taskId, task)
                        selectedTag.value = ''
                    }
                }
                
                const filterByTag = (tagId) => {
                    emit('filter_by_tag', tagId)
                }

                const patchTask = (taskId, patchObject) => {
                    fetch(`${apiHost}/todo/${userId}/tasks/${taskId}`, {
                        method: 'PATCH',
                        headers : {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(patchObject)
                    })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While updating")
                        return response.json()
                    })
                    .then(data => emit('task_update'))
                    .catch(e => console.log(e))
                }

                const fetchTagName = (tagId) => {
                    return fetch(`${apiHost}/todo/${userId}/tags/${tagId}`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While updating")
                            return response.json()
                        })
                        .then(data => data.name)
                    //return `${tagId}`
                }

                watch(
                    () => selectedTag.value,
                    (whatSelected) => {
                        if(whatSelected === 'NEW') {
                            newTag.value = true
                        }
                    }
                )
                
                return {
                    tagControl, handleTagController, date, data, userTags, selectedTag, filterByTag, newTag, newTagValue, hoverMenu, fetchTagName
                };
            }
        }

        createApp({
            setup() {
                const message = ref('Todo!')
                const task = ref({
                    date: null,
                    time: null,
                    title: '',
                })
                const tasks = ref([])
                const taskGroup = ref({})
                const userTags = ref([])
                const clearFilter = ref(false)

                const saveTask = (task) => {
                  fetch(`${apiHost}/todo/${userId}/tasks`,{
                    method: 'POST',
                    headers : {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(task)
                  })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While saving")
                        return response.json()
                    })
                    .then(data => allTask())
                    .catch(e => console.log(e))
                }

                const allTask = () => {
                    fetch(`${apiHost}/todo/${userId}/tasks`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => tasks.value = data)
                }

                const allTags = () => {
                    fetch(`${apiHost}/todo/${userId}/tags`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => userTags.value = data)
                }

                const submitTask = () => {
                    console.log(task.value)
                    saveTask(task.value)
                    task.value = {
                        date: null,
                        time: null,
                        title: '',
                    }
                }
                
                const reloadTasks = () => {
                    console.log('reload')
                    allTask()
                    clearFilter.value = false
                }

                const displayAllByTag = (tagId) => {
                    fetch(`${apiHost}/todo/${userId}/tags/${tagId}/tasks`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => tasks.value = data)
                        .then(data => clearFilter.value = true)
                }

                onMounted(() => {
                    console.log(`the component is now mounted.`)
                    allTask()
                    allTags()
                })
                
                watch(
                    () => tasks.value.length,
                    (tasksLength) => {
                        taskGroup.value = Object.groupBy(tasks.value, ({date}) => date)
                    },
                    { deep: true }
                )
                
                return {
                    message, task, submitTask, tasks, taskGroup, userTags, reloadTasks, displayAllByTag, clearFilter
                }
            },
            components: {todos}
        }).mount('#app')

    </script>
</body>
</html>