<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">

    <title>Todo</title>
</head>
<body>
    <div id="app">
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
            <h1>{{ message }}</h1>
            <div style="position: relative;">
                <i class="bell fa-solid fa-bell fa-xl" @click="() => notificationToggle = !notificationToggle"></i>
                <span style="position: absolute; top: -10px; right: -10px; background-color: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px;">0</span>
                <div :class="notificationToggle ? 'bell__content' : 'bell__content bell__content_hide'" >
                    <span>No any Notification...</span>
                </div>
            </div>
        </div>

        <div class="error" v-if="errors.length > 0">
            <div v-for="e in errors">{{ e }}</div>
        </div>

        <hr/>
        <div class="todo__form">
            <form @submit.prevent="submitTask">
                <fieldset style="display: flex; flex-wrap: wrap; gap: 5px;">
                    <legend align="left">add new task</legend>
                    <input class="form__input" type="date" v-model="task.date">
                    <input class="form__input" type="time" v-model="task.time">
                    <input class="form__input" type="text" v-model="task.title">
                    <button class="form__button" :disabled="!task.title || !task.date">Add</button>
                </fieldset>
            </form>
        </div>
        
        <div class="todo__result" v-if="Object.keys(taskGroup).length > 0 || clearFilter">
            <div style="border-top: 1px dotted blue; border-bottom: 1px dotted blue; padding: 10px;">
                <div class="filter">
                    <span @click="allTaskbyFilter('TODAY_TODO')">Today's Todo</span>
                    <span @click="allTaskbyFilter('TOMORROW_TODO')">Tomorrow's Todo</span>
                    <span @click="allTaskbyFilter('CURRENT_WEEK_TODO')">This Week's Todo</span>
                    <span @click="allTaskbyFilter('LAST_WEEK_TODO')">Last Week's Todo</span>
                    <span @click="allTaskbyFilter('NEXT_WEEK_TODO')">Next Week's Todo</span>
                </div>
                <p class="clear_filter" v-if="clearFilter" @click="reloadTasks">Clear Filter{{'::' + filterType}}</p>
            </div>
            <ul>
                <li v-for="x in Object.keys(taskGroup)">
                    <todos 
                        :_date=x :data=taskGroup[x] 
                        :user_tags="userTags" 
                        @filter_by_tag="(tagId) => displayAllByTag(tagId)"
                        @task_update="reloadTasks"
                        @errors="(e) => errors.push(e)">
                    </todos>
                </li>
            </ul>
        </div>
        <p v-else>No task found!</p>
        <hr/>
        
        <footer style="text-align: right; color: gray;">
            <small>@ all right reserved!</small>
        </footer>
    </div>

    <template id="group_todo">
        <p style="font-size: large; text-decoration: underline;">{{ date }}</p>
        <div :class="todo.status === 'COMPLETED' ? 'todo__item__done todo__item' : 'todo__item'"
            v-for="(todo, index) in data" :key="index" 
            @mouseover="() => hoverMenu[index] = true"
            @mouseleave="() => hoverMenu[index] = false">
            
            <div v-if="isEdit[index]">
                <input type="checkbox" :checked="todo.status === 'PENDING' ? false : true" @change="(e) => todo.status = e.target.checked ? 'COMPLETED' : 'PENDING' ">
            </div>

            <div v-else>
                <input type="checkbox" :checked="todo.status === 'PENDING' ? false : true" @change="(e) => updateTaskStatus(e, todo.taskId)">
            </div>
            
            <div v-if="isEdit[index]">
                <input class="form__input" type="date" :value="todo.date" @change="(e) => todo.date = e.target.value">
                <input class="form__input" type="time" :value="todo.time" @change="(e) => todo.time = e.target.value">
            </div>
            
            <div style="display: flex; flex-direction: column; gap: 5px;">
                <input class="form__input" type="text" :value="todo.title" @change="(e) => todo.title = e.target.value" v-if="isEdit[index]">
                <template v-else>
                    {{ todo.title}}
                    <small>{{todo.time}}</small>
                </template>
            </div>

            <div>
                <div style="display: flex; flex-direction: column;" v-if="isEdit[index]">
                    <div v-for="t in todo.tags">
                        <div style="position: relative;">
                            <small class="tag">#{{ userTags.filter(uT => uT.id === t.tagId).map(fuT => fuT.name)[0] }}</small>
                            <span class="x-edit-tag" @click="() => todo.tags = todo.tags.filter(x => x.tagId !== t.tagId)">X</span>
                        </div>
                    </div>
                </div>

                <small class="tag" v-for="t in todo.tags" @click="filterByTag(t.tagId)" v-else>#{{ userTags.filter(uT => uT.id === t.tagId).map(fuT => fuT.name)[0] }}</small>
            </div>
            
            <div style="display: flex; flex-direction: row;">
                
                <div class="todo__item__menu">
                    <i class="todo__tag fa-solid fa-hashtag fa-sm" v-if="hoverMenu[index]" @click="handleTagController(index)"></i>
                    <div :class="tagControl[index] ? 'todo__tag__container' : 'todo__tag__container todo__tag__container__hide'">
                        <label>New Tag</label>
                        <input type="text" placeholder="new tag" v-model="newTagValue">
                        <button :disabled="!newTagValue" @click="addNewTag">Ok</button>
                        
                        <label>Select Tag</label>
                        <select v-model="selectedTag" @change="tagTask(index, todo.taskId, todo.tags)">
                            <option value="" disabled>--Select Tag--</option>
                            <option :value="userTag.id" v-for="userTag in userTags">{{ userTag.name }}</option>
                        </select>
                    </div>
                </div>
                
                <div class="todo__item__menu">
                    <i class="fa-solid fa-pen fa-sm" v-if="hoverMenu[index] && !isEdit[index]" @click="doEdit(index)"></i>
                    <i class="fa-regular fa-floppy-disk fa-sm" v-if="hoverMenu[index] && isEdit[index]" @click="editSave(index, todo)"></i>
                </div>
                
                <div class="todo__item__menu">
                    <i class="fa-solid fa-trash fa-sm" v-if="hoverMenu[index]" @click="deleteTask(todo.taskId)"></i>
                </div>
            </div>
        </div>
    </template>
    
    <script src="https://kit.fontawesome.com/6f6c4baace.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref, toRef, onMounted , watch} = Vue
        const userId = 1;
        const apiHost = ""

        //reusable component
        const todos = {
            template: '#group_todo',
            props: ['data','_date', 'user_tags'],
            emits: ['filter_by_tag', 'task_update', 'errors'],
            setup(props, { emit }) {
                const tagControl = ref({})
                const hoverMenu = ref({})
                const date = toRef(props, '_date')
                const data = toRef(props, 'data')
                const userTags = toRef(props, 'user_tags')
                const selectedTag = ref('')
                const newTag = ref(false)
                const newTagValue = ref('')
                const isEdit = ref({})
                const edited_todo = ref({})

                const updateTaskStatus = (e, taskId) => {
                    const task = {
                        "status" : e.target.checked ? "COMPLETED" : "PENDING"
                    }
                    patchTask(taskId, task)
                }
                
                const tagTask = (index, taskId, tags=[]) => {
                    if(selectedTag.value) {
                        const task = {
                            "status" : null,
                            "tags" : [...tags, { "taskId": taskId, "tagId" : selectedTag.value }]
                        }
                        
                        patchTask(taskId, task)
                        selectedTag.value = ''
                        tagControl.value[index] = !tagControl.value[index]
                    }
                }

                const addNewTag = () => {
                    fetch(`${apiHost}/todo/${userId}/tags`, {
                        method: 'POST',
                        headers : {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name: newTagValue.value })
                    })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While saving")
                        return response.json()
                    })
                    .then(data => {
                        newTag.value = false
                        newTagValue.value = ''
                        selectedTag.value = ''
                        userTags.value.push(data)
                    })
                    .catch(e => emit('errors', e.message))
                }

                const handleTagController = (index) => {
                    tagControl.value[index] = !tagControl.value[index];
                }
                
                const filterByTag = (tagId) => {
                    emit('filter_by_tag', tagId)
                }

                const patchTask = (taskId, patchObject) => {
                    fetch(`${apiHost}/todo/${userId}/tasks/${taskId}`, {
                        method: 'PATCH',
                        headers : {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(patchObject)
                    })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While updating")
                        return response.json()
                    })
                    .then(data => emit('task_update'))
                    .catch(e => emit('errors', e.message))
                }

                const putTask = (taskId, putObject) => {
                    fetch(`${apiHost}/todo/${userId}/tasks/${taskId}`, {
                        method: 'PUT',
                        headers : {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(putObject)
                    })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While updating")
                        return response.json()
                    })
                    .then(data => emit('task_update'))
                    .catch(e => emit('errors', e.message))
                }

                const fetchTagName = (tagId) => {
                    return fetch(`${apiHost}/todo/${userId}/tags/${tagId}`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While updating")
                            return response.json()
                        })
                        .then(data => data.name)
                }

                const deleteTask = (taskId) => {
                    fetch(`${apiHost}/todo/${userId}/tasks/${taskId}`, {
                        method: 'DELETE'
                    })
                    .then(data => emit('task_update'))
                    .catch(e => emit('errors', e.message))
                }

                const doEdit = (index) => {
                    isEdit.value[index] = !isEdit.value[index]
                }

                const editSave = (index, todo) => {
                    doEdit(index)
                    putTask(todo.taskId, todo)
                }

                watch(
                    () => selectedTag.value,
                    (whatSelected) => {
                        if(whatSelected === 'NEW') {
                            newTag.value = true
                        } else {
                            newTag.value = false
                        }
                    }
                )
                
                return {
                    tagControl, handleTagController, date, 
                        data, userTags, selectedTag, filterByTag, newTag, 
                            newTagValue, hoverMenu, fetchTagName, tagTask, addNewTag,
                                deleteTask, doEdit, isEdit, editSave, edited_todo, updateTaskStatus
                };
            }
        }

        createApp({
            setup() {
                const message = ref('Todo!')
                const task = ref({
                    date: null,
                    time: null,
                    title: '',
                })
                const tasks = ref([])
                const taskGroup = ref({})
                const userTags = ref([])
                const clearFilter = ref(false)
                const filterType = ref('tag')
                const errors = ref([])
                const notificationToggle = ref(false)

                const saveTask = (task) => {
                  fetch(`${apiHost}/todo/${userId}/tasks`,{
                    method: 'POST',
                    headers : {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(task)
                  })
                    .then(response => {
                        if(!response.ok)
                            throw new Error("Error While saving")
                        return response.json()
                    })
                    .then(data => allTask())
                    .catch(e => errors.value.push(e.message))
                }

                const allTask = () => {
                    fetch(`${apiHost}/todo/${userId}/tasks`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => tasks.value = data)
                        .catch(e => errors.value.push(e.message))
                }

                const allTaskbyFilter = (filter) => {
                    fetch(`${apiHost}/todo/${userId}/tasks?filter=${filter}`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => tasks.value = data)
                        .then(data => {
                            filterType.value = filter
                            clearFilter.value = true

                        })
                        .catch(e => errors.value.push(e.message))
                }

                const allTags = () => {
                    fetch(`${apiHost}/todo/${userId}/tags`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => userTags.value = data)
                        .catch(e => errors.value.push(e.message))
                }

                const submitTask = () => {
                    saveTask(task.value)
                    task.value = {
                        date: null,
                        time: null,
                        title: '',
                    }
                }
                
                const reloadTasks = () => {
                    allTask()
                    clearFilter.value = false
                    filterType.value = 'tag'
                }

                const displayAllByTag = (tagId) => {
                    fetch(`${apiHost}/todo/${userId}/tags/${tagId}/tasks`)
                        .then(response => {
                            if(!response.ok)
                                throw new Error("Error While fetching")
                            return response.json()
                        })
                        .then(data => tasks.value = data)
                        .then(data => clearFilter.value = true)
                        .catch(e => errors.value.push(e.message))
                }

                onMounted(() => {
                    allTask()
                    allTags()
                })
                
                watch(
                    () => tasks.value.length,
                    (tasksLength) => {
                        taskGroup.value = Object.groupBy(tasks.value, ({date}) => date)
                    },
                    { deep: true }
                )
                
                return {
                    message, task, submitTask, tasks, taskGroup, 
                        userTags, reloadTasks, displayAllByTag, clearFilter,
                        errors, notificationToggle, allTaskbyFilter, filterType
                }
            },
            components: {todos}
        }).mount('#app')

    </script>
</body>
</html>
